<html lang='en'>
<head>
  <title>Random-Chatting</title>
  <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet'/>
  <link href='css/styles.css' rel='stylesheet' />
</head>
{{> header }}
<div>
  <h1>자유게시판 페이지</h1>
  <hr>
  <table id='borad-table' border='1' class='table-fixed' style='width: 100%'>
    <tr style='text-align: center'>
      <th class='w-12 border border-black bg-indigo-600 text-white '>번호 </th>
      <th class='w-20 border border-black bg-indigo-600 text-white'>구분 </th>
      <th class='w-1/2 border border-black bg-indigo-600 text-white'>제목 </th>
      <th class='w-1/8 border border-black bg-indigo-600 text-white'>글쓴이</th>
      <th class='w-20 border border-black bg-indigo-600 text-white'>댓글수</th>
      <th class='w-20 border border-black bg-indigo-600 text-white'>조회수 </th>
      <th class='w-24 border border-black bg-indigo-600 text-white'>날짜 </th>
    </tr>
    {{#each data}}
      <tr style='text-align: center'>
        <td class='border border-black'>{{this.id}}</td>
        <td class='border border-black'>{{this.category}}</td>
        <td class='border border-black'><a href='/board/{{this.id}}'>{{this.title}}</a></td>
        <td class='border border-black'>{{this.user.userName}}</td>
        <td class='border border-black'>{{this.comment}}</td>
        <td class='border border-black'>1</td>
        <td class='border border-black'>21/11/29</td>
      </tr>
    {{/each}}
  </table>
  <button id='create-board-button' class='inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500'>게시판 생성</button>
  <div id='create-board-modal' class='modal'>
    <div class='modal-content'>
      <p>게시판 생성 modal</p>
      <form id='create-board-form' class='modal-form'>
        <input placeholder='게시판 이름'>
        <button class='close'>생성</button>
        <button id='modal-close' class='close'>닫기</button>
      </form>
    </div>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='js/layouts/boards.js'></script>
</html>
