<html lang='en'>
<head>
  <title>Random-Chatting</title>
  <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet'/>
  <link href='../css/styles.css' rel='stylesheet' />
</head>
<body>
  {{> header}}
  <div>
    <nav class="flex bg-gray-50 text-gray-700 border border-gray-200 py-3 px-5 rounded-lg dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a href="/" class="text-sm text-gray-700 hover:text-gray-900 inline-flex items-center dark:text-gray-400 dark:hover:text-white">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
            홈
          </a>
        </li>
        {{#each breads}}
          {{> breadcrumbList bread=name url=url}}
        {{/each}}
      </ol>
    </nav>
    <div class="mx-auto">
      <div class="p-4 bg-white">
        <!-- 게시판 상세 내용 -->
        <div class="flex">
          <div class="space-y-1 flex flex-col w-full">
            <div class="flex w-full flex items-center">
              <div class="border border-primary rounded-md">
                <h1 class='font-bold text-3xl'>{{data.title}}</h1>
              </div>
              <hr>
            </div>
            <div class="flex w-full h-10 bg-gray-200 items-center">
              <strong class='text-xl mx-3'>{{data.user.userName}}</strong>
              <img src='../../../time_icon_124838.png' class='h-5 w-5 mx-2'/>
              <p class='mx-2'>{{dateParser data.createdAt}}</p>
              <!-- 개시판 수정하기 -->
              <button id='update-button-button'
                      class="px-4 py-2 rounded-md text-sm border-0
                  focus:outline-none focus:ring transition text-white
                  bg-gray-400 hover:bg-gray-600 active:bg-gray-700 focus:ring-gray-300">수정하기
              </button>
            </div>
            <div class="flex border border-gray-200 w-full">
              {{data.content}}
            </div>
          </div>
        </div>
        <!-- 좋아요 싫어요 -->
        <div class="mt-4 flex items-center justify-between">
          <div class="flex items-center mx-auto" >
            <div class="items-center">
              <button id='like' class='items-center'>
                <img src='../../../heart-icon-2243.png' class='m-4 h-4 float-left'>
                <span id='like-count' class='m-4 h-4'>{{data.LikeCount}}</span>
              </button>
            </div>
            <span class="bg-tertiary h-1 w-20 rounded"></span>
  <!--          <div id='dislike' class=" border border-gray-200 w-20 h-5 ">(싫어요) {{data.dislike}}</div>-->
          </div>
        </div>
      </div>
      <!--댓글 불러오기-->
      <div class="p-4 bg-white border border-primary rounded-md">
        <h2>댓글</h2>
        {{#each comment}}
          <div class='flex'> <!-- root 댓글-->
            <div class="w-36 h-10">
              {{user.userName}}
            </div>
            <div class="">
              {{content}}
            </div>
            <div>
              좋아요
              댓글 달기
            </div>
          </div>
          {{#each reply}}
            <div class='flex pl-8'> <!-- reply 댓글 -->
              <div class="border border-gray-200 w-36 h-5 ">{{user.userName}}</div>
              <div class="border border-gray-200">
                {{content}}
              </div>
              <div>
                <button>좋아요</button>
                <button id='reply-comment'>댓글 달기</button>
              </div>
            </div>
          {{/each}}
        {{/each}}
      </div>
      <!-- 댓글 작성하기 -->
      <form id='create-comment-form' class="p-4">
        <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='댓글 작성하기' required></textarea>
        <button class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100">댓글 달기</button>
      </form>
    </div>
  </div>
  {{> footer}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='../js/template/oneBoards.js'></script>
</body>
</html>
