<html lang='en'>
<head>
  <title>Random-Chatting</title>
  <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet'/>
  <link href='../css/styles.css' rel='stylesheet' />
  <!--답글 함수 선언-->
  <script src='../js/template/oneBoardReplyComment.js'></script>
</head>
<body>
  {{> header}}
  <div>
    <nav class="flex bg-gray-50 text-gray-700 border border-gray-200 py-3 px-5 rounded-lg dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a href="/" class="text-sm text-gray-700 hover:text-gray-900 inline-flex items-center dark:text-gray-400 dark:hover:text-white">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
            홈
          </a>
        </li>
        {{#each breads}}
          {{> breadcrumbList bread=name url=url}}
        {{/each}}
      </ol>
    </nav>
    <div class="mx-auto">
      <div class="p-4 bg-white">
        <!-- 게시판 상세 내용 -->
        <div class="flex">
          <div class="space-y-1 flex flex-col w-full">
            <div class="flex w-full flex items-center">
              <div class="border border-primary rounded-md">
                <h1 class='font-bold text-3xl'>{{data.title}}</h1>
              </div>
              <hr>
            </div>
            <div class="flex w-full h-10 bg-gray-200 items-center">
              <strong class='text-xl mx-3'>{{data.user.userName}}</strong>
              <img src='../../../time_icon_124838.png' class='h-5 w-5 mx-2'/>
              <p class='mx-2'>{{dateParser data.createdAt}}</p>
              <!-- 개시판 수정하기 -->
              <button id='update-button-button'
                      class="px-4 py-2 rounded-md text-sm border-0
                  focus:outline-none focus:ring transition text-white
                  bg-gray-400 hover:bg-gray-600 active:bg-gray-700 focus:ring-gray-300">수정하기
              </button>
            </div>
            <div id='content' class="border border-gray-200 w-full">
              {{data.content}}
            </div>
          </div>
        </div>
        <!-- 좋아요 싫어요 -->
        <div class="mt-4 flex items-center">
          <div class="flex items-center mx-auto" >
            <div class="items-center bg-gray-100 rounded-md">
              <button id='like' class='flex items-center'>
                <img src='../../../heart-icon-2243.png' class='m-4 h-4'/>
                <span> 좋아요 </span>
                <strong id='like-count' class='mx-3 text-red-400'>{{data.LikeCount}}</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--댓글 불러오기-->
      <div class="p-4 bg-white border border-primary rounded-md">
        <div class='flex items-center'>
          <img src='../../../comment_text_icon_138728.png' class='m-6 h-6'/>
          <span class='font-bold text-xl'>댓글</span>
        </div>
        <!-- root 댓글-->
        {{#each comment}}
          <div class='flex rounded-md mt-3 mx-5 border border-slate-300'>
            <div class="flex w-1/12 h-10 border border-slate-300 bg-gray-200 items-center">
              <strong class='flex'>{{user.userName}}</strong>
              <span class='ml-2 text-sm'>1일전</span>
            </div>
            <div class="flex w-6/12 px-2 items-center">
              <span>{{content}}</span>
            </div>
          </div>
          <div class='flex ml-52'>
            <span name='groupID' style='display: none'>{{id}}</span>
            <span name='replyID' style='display: none'>{{id}}</span>
            <span name='replyUserName' style='display: none'>{{user.userName}}</span>
            <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='댓글 작성하기' required
                      style='display: none'></textarea>
            <button class='bg-white text-gray-700 text-xs py-1 px-1 border border-gray-400 rounded-lg tracking-wide mr-1  hover:bg-gray-100'
                    onclick='ReplyComment(this)'>
              대댓글 달기
            </button>
          </div>
          <!-- reply 댓글 -->
          {{#each reply}}
            <div class='flex ml-16 my-3 border border-slate-300 rounded-md'>
              <div class="flex w-1/12 h-10 border border-slate-300 bg-gray-200 items-center">
                <strong>{{user.userName}}</strong>
                <span class='ml-2 text-sm'>10분전</span>
              </div>
              <div class='items-center'>
                <strong class='mx-2'>@{{replyUserName}}</strong>
                <span>{{content}}</span>
              </div>
            </div>
            <div class='flex ml-60'>
              <span name='groupID' style='display: none'>{{groupID}}</span>
              <span name='replyID' style='display: none'>{{id}}</span>
              <span name='replyUserName' style='display: none'>{{user.userName}}</span>
              <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='댓글 작성하기' required
                        style='display: none'></textarea>
              <button class='bg-white text-gray-700 text-xs py-1 px-1 border border-gray-400 rounded-lg tracking-wide mr-1  hover:bg-gray-100'
                      onclick='ReplyComment(this)'>
                대댓글 달기
              </button>
            </div>
          {{/each}}
        {{/each}}
      </div>
      <!-- 댓글 작성하기 -->
      <form id='create-comment-form' class="p-4 mx-5">
        <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='댓글 작성하기' required></textarea>
        <button class="bg-white text-gray-700 font-medium py-1 px-4 my-2 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100">댓글 달기</button>
      </form>
    </div>
  </div>
  {{> footer}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='../js/template/oneBoards.js'></script>
</body>
</html>
