<html lang='en'>
  <head>
    <title>Random-Chatting</title>
    <link
      href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css'
      rel='stylesheet'
    />
    <link href='{{staticServer}}/css/styles.css' rel='stylesheet' />
    <link
      href='{{staticServer}}/image/favicon-chatting.png'
      rel='shortcut icon'
      type='image/x-icon'
    />
  </head>
  <body>
  {{> header}}
    <div class='bg-white block py-10'>
      <div class='max-w-2xl mx-auto'>
        <!--
          ! ------------------------------------------------------------
          ! Profile banner and avatar
          ! ------------------------------------------------------------
          !-->
        <div class='w-full'>
          <div class='w-full bg-blue-600 h-48 rounded-t-lg'>
              <img src='https://source.unsplash.com/category/nature/1600x500' alt='백그라운드'/>
            </div>
          <div class='absolute -mt-20 ml-5'>
            <div class='bg-gray-200 border border-gray-300 h-36 w-40 shadow-md border-b border-primary'>
              <img src='{{staticServer}}/{{data.profileImg}}' alt='프로필사진'/>
            </div>
          </div>
        </div>

        <!--
          ! ------------------------------------------------------------
          ! Profile general information
          ! ------------------------------------------------------------
          !-->
        <div class='bg-primary border border-primary rounded-b-lg p-5 pt-20 flex flex-col'>
          <div class='my-1 bg-gray-200 border border-gray-300 h-6 w-40'>
            <span>{{data.userName}}</span>
          </div>
<!--          <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-96'>유저 상세 정보</div>-->
          <div class='text-sm mt-2 text-gray-800'>
            <strong>가입일</strong>
            <div class='flex flex-row ml-auto space-x-2 items-center'>
              <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-32 text-gray-800'>
                <span>{{dateParser data.createdAt}}</span>
              </div>
            </div>
          </div>

          <div class='pt-8 flex gap-8'>
            <div class='flex flex-col place-items-center'>
              <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-24 place-items-center'>
                <strong>게시판 수</strong>
              </div>
              <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-24'>
                <span>{{data.writeBoardsCount}}</span>
              </div>
            </div>
            <div class='flex flex-col'>
              <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-24'>
                <strong>댓글 개수</strong>
              </div>
              <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-24'>
                <span>{{data.commentsCount}}</span>
              </div>
            </div>
            <div class='flex flex-col'>
              <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-24'>
                <strong>좋아요 수</strong>
              </div>
              <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-24'>
                <span>{{data.likeBoardsCount}}</span>
              </div>
            </div>
            <div class='flex flex-col'>
              <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-24'>
                <strong>공개 채팅방</strong>
              </div>
              <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-24'>
                <span>{{data.publicChatCount}}</span>
              </div>
            </div>
          </div>
          <div class='py-5 break-all bbcode'>
            <div class='mb-1 bg-gray-200 border border-gray-300 h-6 w-32'>
              <strong>자기소개</strong>
            </div>
            <div class='my-1 bg-gray-200 border border-gray-300 h-6 w-full h-40'>
              <span>안녕하세요 반갑습니다.</span>
            </div>
          </div>
          <div class='flex'>
            <button id='user-update-button' class='px-4 py-2 m-2 rounded-md font-medium border-0 focus:outline-none focus:ring transition text-white bg-gray-500 hover:bg-gray-600 active:bg-gray-700 focus:ring-gray-300'>
              수정하기
            </button>
            <button id='logout-button' class='px-4 py-2 m-2 rounded-md font-medium border-0 focus:outline-none focus:ring transition text-white bg-gray-500 hover:bg-gray-600 active:bg-gray-700 focus:ring-gray-300'>
              로그아웃
            </button>
            <button id='user-delete-button' class='px-4 py-2 m-2 rounded-md font-medium border-0 focus:outline-none focus:ring transition text-white bg-gray-500 hover:bg-gray-600 active:bg-gray-700 focus:ring-gray-300'>
              계정탈퇴
            </button>
          </div>
        </div>
      </div>
    </div>
  {{> footer}}
  </body>
  <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
  <script src='{{staticServer}}/js/template/profile.js'></script>
</html>